<!-- MUST RENAME THIS PAGE IN ALL -->

<!-- main.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Contacts</title>
</head>

<body>

    <h1>Contacts</h1>
    <br>

    <% if(users) { %>

        <h3>List</h3>

        <ul>
            <% users.forEach(el => { %>
                <% if(user.username !== el.username) { %>
                    <li>
                        <a class="btn-user" href="/profile/<%= el.id %>">
                            <%= el.firstName %>
                                <%= el.lastName %>
                        </a>
                    </li>

                    <% } %>
                        <% }) %>

        </ul>

        <a href="/profile/<%= user.id %>"> profile...</a>
        <br>

        <% } %>

</body>

</html>