<!-- main.html -->
<!DOCTYPE html>
<html>

<head>
  <title>Personal Contacts</title>
</head>

<body>


  <% if (user) { %>
    <div>
      <h1> Welcome to Your Private Contacts Page,
        <span style="color: rgb(255, 123, 0);">
          <%= user.username%>
        </span>.</h1>
      <br/>
      <a href="/">Index</a>
      <br/>
      <a href="/contacts">Back to Contacts Page</a>
    </div>
    <% } %>

</body>

</html>