<!-- MUST RENAME THIS PAGE IN ALL -->

<h1> Welcome! </h1>


<br/>
<% if(user) { %>
    <a href="/edit-profile/<%= user.id %>">Edit profile...</a>

    <br/>
    <a href="/logout">...Log Out</a>
    <% } %>