<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/passport-style.css' />
</head>

<body>

    <div class="index-container">

        <!-- PLACE LOGO HERE -->

        <h1 id="index-title">IRONPAGES</h1>

        <h3 id="index-welcome">Welcome</h3>

        <a href="/login" id="index-signin"> Sign In </a>

        <a href="/signup" id="index-newaccount"> New Account </a>

    </div>

</body>

</html>