<!-- views/auth/signup.ejs -->
<h2>Edit Profile</h2>
<form action="/edit-profile" method="POST" id="form-container">


    <br>
    <label for="picture"></label>
    <input id="picture" type="file" name="picture" placeholder="">
    <br>

    <br>
    <label for="first-name">First Name:</label>
    <input id="first-name" type="text" name="first-name" placeholder="new first-name">
    <br>

    <br>
    <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" name="last-name" placeholder="new last-name">
    <br>


    <label for="phone-number">Phone Number:</label>
    <input id="phone-number" type="text" name="phone-number" placeholder="new phone number">
    <br>

    <br>
    <label for="email">Email:</label>
    <input id="email" type="text" name="email" placeholder="new email">
    <br>

    <br>
    <label for="address">Address:</label>
    <input id="address" type="text" name="address" placeholder="new address">
    <br>

    <h5>Social Media:</h2>
        <br>
        <label for="facebook">Facebook:</label>
        <input id="facebook" type="text" name="facebook" placeholder="new facebook profile">
        <br>

        <br>
        <label for="instagram">Instagram:</label>
        <input id="instagram" type="text" name="instagram" placeholder="new instagram profile">
        <br>

        <input type="submit">save</input>
</form>