<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/passport-style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
</head>

<body>

    <div class="registered-container">

        <!-- PLACE LOGO HERE -->

        <h3 id="registered-title">Welcome to the family, you are now registered!</h3>


        <br/>

        <p id="registered-login-redirect">
            <a href="/login" id="registered-signin"> Sign In </a>
        </p>

    </div>

</body>

</html>