<!-- views/auth/signup.ejs -->
<!-- SIGNUP FORM -->

<h2>Signup</h2>
<form action="/signup" method="POST" id="form-container">

  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br>

  <br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>


  <label for="firstName">First Name:</label>
  <input id="firstName" type="text" name="firstName" placeholder="your first name">
  <br>

  <br>
  <label for="lastName">Last Name:</label>
  <input id="lastName" type="text" name="lastName" placeholder="your last name">
  <br>


  <label for="phoneNumber">Phone Number:</label>
  <input id="phoneNumber" type="text" name="phoneNumber" placeholder="your phone number">
  <br>

  <label for="cohortCity">Cohort City:</label>
  <input id="cohortCity" type="text" name="cohortCity" placeholder="your cohort city">
  <br>

  <label for="cohortYear">Cohort Year:</label>
  <input id="cohortYear" type="text" name="cohortYear" placeholder="year of your cohort">
  <br>


  <br>
  <label for="country">Country you live in:</label>
  <input id="country" type="text" name="country" placeholder="your email">
  <br>

  <br>
  <label for="city">current city:</label>
  <input id="city" type="text" name="city" placeholder="city you live in now">
  <br>


  <br>
  <label for="email">Email:</label>
  <input id="email" type="text" name="email" placeholder="your email">
  <br>



  <h5>Social Media:</h2>
    <br>
    <label for="facebook">Facebook:</label>
    <input id="facebook" type="text" name="facebook" placeholder="your facebook profile">
    <br>

    <br>
    <label for="linkedin">Linkedin:</label>
    <input id="linkedin" type="text" name="linkedin" placeholder="your linkedin profile">
    <br>

    <br>
    <label for="Pineterest">Pinterest:</label>
    <input id="Pinterest" type="text" name="Pinterest" placeholder="your Pinterest profile">
    <br>

    <% if (typeof message !== "undefined") { %>
      <div class="error-message">
        <%= message %>
      </div>
      <% } %>
        <br>
        <br>
        <button>Create account</button>
        <p class="account-message">
          Do you already have an account?
          <a href="/login">Login</a>
        </p>
</form>