/* -- GLOBALS -- */

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}


/*  */


/* --------- CONTACTS PAGE - contacts.ejs --------- */

.contacts-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(-180deg, #14B88E 20%, #59BF8D 100%);
    text-align: center;
    flex-wrap: nowrap;
    min-height: 667px;
}


/* Need to add logo  */

#contacts-title {
    font-size: 120%;
    color: #FFFFFF;
    letter-spacing: 2.1px;
    line-height: 126px;
    border: 1px solid grey;
}

.contacts-user-profile {
    font-size: 120%;
    color: white;
    letter-spacing: 4.2px;
    line-height: 46.2px;
    border: 1px solid grey;
    margin: 5px 0px;
}


/* SEARCH SECTION */


/* To Center the Placeholder */

.contacts-container input[placeholder] {
    font-weight: lighter;
    text-align: center;
    background: inherit;
    border: 1px grey solid;
    color: white;
    /* font-weight: bold; */
    align-items: stretch;
}

.contacts-search-div {
    border: 1px grey solid;
}

#contacts-search-bar {
    font-size: 120%;
    color: white;
    letter-spacing: 4.2px;
    line-height: 46.2px;
    width: 80%;
    border: 1px solid grey;
}

#contacts-search-btn {
    font-size: 120%;
    color: white;
    letter-spacing: 4.2px;
    line-height: 10.2px;
    padding: 10px;
    width: 80%;
    margin: 5px 0px;
    background: none;
    border: 1px grey solid;
}


/* ALL CONTACTS LIST SECTION */