/* -- GLOBALS -- */

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}


/*  */


/* --------- CONTACTS PAGE - contacts.ejs --------- */

.contacts-container {
    display: flex;
    flex-direction: column;
    /* background-color: lightgrey; */
    text-align: center;
    border: 1px solid grey;
    height: 100vh;
    font-size: 1.5em;
}


/* Need to add logo  */

#contacts-title {
    background-image: linear-gradient(-180deg, #14B88E 20%, #59BF8D 100%);
    color: #FFFFFF;
    letter-spacing: 2.1px;
    line-height: 6em;
    border: 1px solid grey;
    margin: 0px;
}

.contacts-mainuser-profile {
    font-size: 110%;
    color: white;
    letter-spacing: 4.2px;
    line-height: 2.8em;
    border-bottom: 1px solid grey;
    margin: 5px 0px;
}


/* NEED TO FIX THIS */

#contacts-mainuser-photo {
    border: 1px solid rgba(20, 184, 142, 100);
    box-shadow: 0 0 31px 6px rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    margin-top: 0.2vh;
    position: absolute;
    margin-left: -6vh;
}

#contacts-mainuser-name {
    position: 2;
    border: 1px solid grey;
    text-decoration: none;
}


/* SEARCH SECTION */


/* To Center the Placeholder */

.contacts-container input[placeholder] {
    font-weight: lighter;
    text-align: center;
    background: inherit;
    border: 1px grey solid;
    color: white;
    /* font-weight: bold; */
    align-items: stretch;
}

.contacts-search-div {
    border: 1px grey solid;
}

#contacts-search-bar {
    font-size: 100%;
    color: grey;
    letter-spacing: 4.2px;
    line-height: 46.2px;
    width: 80%;
    border: 1px solid grey;
}

#contacts-search-btn {
    font-size: 100%;
    color: white;
    letter-spacing: 4.2px;
    line-height: 10.2px;
    padding: 7px;
    width: 80%;
    margin: 5px 0px 0px 0px;
    background-image: linear-gradient(-180deg, #14B88E 20%, #59BF8D 100%);
    border: 1px grey solid;
}


/* ALL CONTACTS DISPLAY SECTION */

.contacts-display-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px grey solid;
}

#contacts-list-title {
    border-bottom: 1px lightgrey solid;
    border-top: 1px lightgrey solid;
    padding: 5px 0px;
    position: 1;
    margin: 15px 0px;
}

#contacts-list-table {
    border: 1px grey solid;
    position: 2;
    margin: 15px 0px;
    width: 80%;
    text-decoration: none;
}