/* -- GLOBALS -- */

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}


/*  */


/* --------- LANDING PAGE - index.ejs --------- */

.index-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(-180deg, #14B88E 20%, #59BF8D 100%);
  text-align: center;
  flex-wrap: nowrap;
  height: 120vh;
}


/* Need to add logo  */

#index-title {
  font-size: 300%;
  color: #FFFFFF;
  letter-spacing: 2.1px;
  line-height: 126px;
  margin-top: 261px;
}

#index-welcome {
  font-size: 170%;
  color: white;
  letter-spacing: 2.1px;
  line-height: 126px;
}

#index-signin {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
}

#index-newaccount {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
}


/*  */


/* --------- SIGN IN PAGE - login.ejs --------- */

.login-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(-180deg, #14B88E 20%, #59BF8D 100%);
  text-align: center;
  flex-wrap: nowrap;
  height: 100vh;
}


/* Need to add logo  */

#login-title {
  font-size: 300%;
  color: #FFFFFF;
  letter-spacing: 2.1px;
  line-height: 126px;
}


/* To Center the Placeholder */

.login-container input[placeholder] {
  font-weight: lighter;
  text-align: center;
  background: inherit;
  border: 1px grey solid;
  color: white;
  /* font-weight: bold; */
  align-items: stretch;
}

#login-username {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#login-password {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#login-btn-signin {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  padding: 10px;
  width: 80%;
  margin: 5%;
  background: none;
  border: 1px grey solid;
}


/*  */


/* --------- SIGN UP PAGE - signup.ejs --------- */

.signup-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(-180deg, #14B88E 20%, #59BF8D 100%);
  text-align: center;
  flex-wrap: nowrap;
  height: 150vh;
}

#signup-title {
  font-size: 200%;
  color: #FFFFFF;
  letter-spacing: 2.1px;
  line-height: 126px;
}


/* Need to add logo  */

.signup-container input[placeholder] {
  font-weight: lighter;
  text-align: center;
  background: inherit;
  border: 1px grey solid;
  color: white;
  /* font-weight: bold; */
  align-items: stretch;
}

#signup-username {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-password {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-first-name {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-last-name {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-phone-number {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-cohort-city {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-cohort-year {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-country {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-city {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-email {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-instagram {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-linkedin {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-pinterest {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-username {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  width: 80%;
}

#signup-btn-create-account {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  padding: 10px;
  width: 80%;
  margin: 5%;
  background: none;
  border: 1px grey solid;
  font-weight: bold;
}

#signup-existing-account-message {
  font-size: 100%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
  padding: 10px;
  width: 80%;
  margin: 5%;
  background: none;
  font-weight: lighter;
}


/*  */


/* --------- REGISTERED PAGE - registered.ejs --------- */

.registered-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(-180deg, #14B88E 20%, #59BF8D 100%);
  text-align: center;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: center;
}


/* Need to add logo  */

#registered-title {
  font-size: 200%;
  color: #FFFFFF;
  letter-spacing: 2.1px;
  line-height: 126px;
}

#registered-signin {
  font-size: 120%;
  color: white;
  letter-spacing: 4.2px;
  line-height: 46.2px;
}